<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/index.css">
</head>


<body>

<div class="container bg-light">
    <!--
        ----------HEADER-----------
    <header>-->
    <div id="headerId" class="row vertical-align h-10 ">
        <div id="headerMenuId" class="col-2 border border-info">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="/graphics/menu_down.png" />
            </a>
        </div>

        <div id="headerContentId" class="col-7 border border-info">others</div>

        <div id="headerCalendarId"class="col-3 border border-info">calendar</div>
    </div>
    <!--</header>
        ----------MAIN CONTENT-------
    <main> -->
    <div id="mainId" class="row vertical-align h-80">

        <div id="mainLeftSideId" class="col-3 border border-info">groups of tasks</div>
        <div id="mainRightSideId" class="col-9 border border-info">

            <p th:text="'List of Tasks'">List of tasks...</p>

        </div>

    </div>
    <!---</main>
        ----------FOOTER-------------
    <footer>-->
    <div id="footerId" class="row vertical-align h-10">
        <div class="col-12 bg-dark text-white">footer</div>
    </div>
    <!--</footer>-->

</div>
</body>

</html>