<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/index.css">
</head>


<body>

<div class="container bg-light">
    <!--
        ----------HEADER-----------
    <header>-->
    <div id="headerId" class="row vertical-align h-10 ">
        <div id="headerMenuId" class="col-2 border border-info">menu</div>
        <div id="headerContentId" class="col-7 border border-info">others</div>
        <div id="headerCalendarId"class="col-3 border border-info">calendar</div>
    </div>
    <!--</header>
        ----------MAIN CONTENT-------
    <main> -->
    <div id="mainId" class="row vertical-align h-80">

        <div id="mainLeftSideId" class="col-3 border border-info">groups of tasks</div>
        <div id="mainRightSideId" class="col-9 border border-info">
            If you liked the book, follow me on GitHub (or Twitter). I love seeing that I've had some kind of positive impact.
            And if you end up writing about CSS in a blog post or elsewhere, feel free to link back - every link helps :).

            If you notice that a layout-related technique that you would like to see covered is missing from the book, feel free to file an issue on GitHub.
            It may take me a while to get back to writing a second edition,
            but in the meanwhile having someone mention additional techniques in the form of an issue can be helpful for other readers of the book and
            I will use the issues to improve the book further the next time I am working on it.

            Similarly, if you have experienced an edge case, bug or interaction between different CSS properties that you feel is worth knowing about, feel free to file an issue on GitHub.
            Many of the examples in the book come from my own work and having additional real-world issues listed will help other readers and will let me find more interesting topics to cover in a future edition.
            There are many practical pitfalls with CSS, and while I can teach you how the spec says things should work, there is no central repository for the problems that real browsers - sometimes even working as the spec intended - can cause in the real world.

            Also, check out the next chapter - it contains an index to the topics covered in here,
            which can be helpful when you need to brush up on a specific property or concept.

            I've also written about a bunch of other topics such as distributed systems and Node.js;
            you can find my long form writing at book.mixu.net.


        </div>

    </div>
    <!---</main>
        ----------FOOTER-------------
    <footer>-->
    <div id="footerId" class="row vertical-align h-10">
        <div class="col-12 bg-dark text-white">footer</div>
    </div>
    <!--</footer>-->

</div>
</body>

</html>